.profile{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  padding: 10px;
  column-gap: 30px;
  row-gap: 30px;
  
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  max-height: 500px;
  border-width:2px;
  border-radius: 24px;
  background: var(--primary-light, #F4F7FE);
  overflow: hidden;
  padding: 10px;
  border-color: #6C63FF;
}

.box2{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}

.deets{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.recentlyfilled{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  max-height: 500px;
  border-width:2px;
  border-radius: 24px;
  background: var(--primary-light, #F4F7FE);
  overflow: hidden;
  padding: 10px;
  border-color: #6C63FF;
}