.AdminTopGrid {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    border-radius: 20px;
}

.tablesMainGrid {
    height: auto;
    overflow-y: auto;
    scroll-behavior: auto;
    height: 100%;
    padding: 3px;


}